<div class="list-group-item flex-column align-items-start" [ngClass]="{'list-group-item':true,
                'list-group-item-success': postLoveIts > 0,
                'list-group-item-danger': postLoveIts < 0 }">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ postTitle }}</h5>
                  <p>{{ postDate | date : 'dd/MM/yyyy, hh:mm a' }}</p>
                </div>
                <p>{{ postContent }}</p>
                <button type="button" class="btn btn-success margin-right" (click)="onLike()">Love it!</button>
                <button type="button" class="btn btn-danger" (click)="onDislike()">Don't love it!</button>
</div>
